*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-green: hsl(75,94%,57%);
    --neutral-white: hsl(0,0%,100%);
    --neutral-grey: hsl(0,0%,20%);
    --neutral-dark-grey: hsl(0,0%,12%);
    --neutral-off-black: hsl(0,0%,8%);

}

body{
    background-color: var(--neutral-off-black);
    min-height: 100vh;
    font-family: 'Inter',sans-serif;
    display: grid;
    place-content: center;
}

a{
    text-decoration: none;
}

.card{
    background-color: var(--neutral-dark-grey);
    color: var(--neutral-white);
    padding: 2rem;
    margin: 1rem;
    max-width: 400px;
    text-align: center;
    border-radius: .75rem;
}

.card img{
    margin-bottom: .5rem;
    width: 75px;
    border-radius: 50%;
}

.card h2{
    font-size: 1.75rem;
}

.card .location{
    color: var(--primary-green);
    margin: .5rem 0 1.5rem;
    font-weight: 700;
}

.card ul{
    margin-top: 1.75rem;
    list-style: none;
}

.card ul li:not(:last-child){
    margin-bottom: 1rem;
}

.card ul li a{
    display: block;
    background-color: var(--neutral-grey);
    color: var(--neutral-white);
    padding: 1rem;
    font-weight: 600;
    border-radius: .5rem;
}

.card ul :hover{
    background-color: var(--primary-green);
    color: var(--neutral-dark-grey);
}

/*
Mobile Devices size below
*/
@media screen and (max-width: 500px) {
    #preview-card-container{
        width: 90%;
        margin: 2rem auto;
    }

    .preview-card-img img{
        width: 100%;
    }
}